@import "../../base/variables";

.button-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 24px;
  background-color: $first-color;
  color: $second-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.35;
  padding: 5px 15px;
  transition: all 0.2s ease-in 0s;

  &--mypost {
    margin-left: auto;
  }

  &:hover {
    background-color: rgb(28, 69, 112);
  }
}