.profile{

    &__content {
        display: flex;
        flex-direction:column;
        padding: 0 10px;

    }

    &__background {
        margin: 20px 0;
        height: 200px;
        

        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    &__item{
        display: flex;
        align-items: center;
        padding-bottom: 25px;
    }

    &__avatar{
        max-width: 150px;
        margin-right: 15px;
    }
}
