@import "../../base/variables";

.users {

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
  }

  &__title {
    font-family: Roboto-bold, serif;
    width: 100%;
    text-align: center;
    background-color: $second-color;
    padding: 15px;
    color: rgb(58, 54, 54);
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid $first-color;
  }
}

.pagination-user {

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
  }

  &__page {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    padding: 6px 10px;
    cursor: pointer;
    background-color: $second-color;

    &.active {
      background-color: $first-color;
      color: $second-color;
      font-weight: 700;
      font-size: 14px;
    }
  }


}


