@import "../../../base/variables";

.form-message {
  display: flex;


  &__input {
    width: 100%;
    min-height: 50px;
    resize: none;
    padding: 5px;
    box-shadow: 2px 0 2px rgb(128, 128, 128);
    overflow-y: auto;

    &:focus {
      outline: none;
    }
  }

}