.nav {
    grid-area: nav;
    background-color: rgb(126, 124, 156);

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 10px;
    }

    &__list {

      & > *:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__link {
      font-size: 18px;
      color: rgb(255, 255, 255);
      transition: all 0.2s ease-in;

      &.active{
        color: rgb(32, 46, 73);
      }

      &:hover{
        transition: all 0.1s ease-in;
        border-bottom: 2px solid rgb(221, 218, 218);
        color: rgb(221, 218, 218);
      }
   }
}
  