@import '../../base/variables';

.nav {
    grid-area: nav;
    background-color: rgb(126, 124, 156);
    min-height: 600px;
    max-height: 800px;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px 10px;

      & > *:not(:last-child) {
        margin-bottom: 15px;
      }
    }
}
  