@import '../../../base/variables';

.nav {

    &__link {
      font-size: 16px;
      font-weight: 700;
      color: $first-color;
      transition: all 0.2s ease-in;

      &.active{
        color: rgb(0, 0, 0);
      }

      &:hover{
        transition: all 0.1s ease-in;
        color: $second-color;
      }
   }
}
  