.header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    grid-area: header;
  
    &__content {
      display: flex;
      min-height: 70px;
      background-color: green;
      align-items: center;
    }
  
    &__logo img{
      width: 60px;
      padding: 0 5px;
    }

    &__title{
      margin-left: 10px;
      color: rgb(255, 255, 255);
      font-size: 24px;
    }
  
  }
  