@import "../../base/variables";

.footer {
  grid-area: footer;
  background-color: $first-color;

  &__content {
    display: flex;
    background-color: $first-color;
    min-height: 50px;
    align-items: center;
  }

  &__copyright {
    font-size: 14px;
    color: $second-color;
    padding: 10px;
  }
}
  