@import '../../../base/variables';

.profile {

    &__item {
      display: flex;
      align-items: center;
      padding-bottom: 25px;
    }

    &__avatar {
      max-width: 120px;
      width: 100%;
      margin-right: 15px;
    }
}