@import "../../../base/variables";

.profile {

  &__background {
    background-color: $second-color;
    padding: 10px;
    border-radius: 10px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    max-width: 440px;
  }

  &__avatar {
    flex: 1 0 30%;
    background-color: $second-color;
    padding: 10px;
    border-radius: 10px;
    margin: 0 10px 0 0;

    & img {
      border-radius: 50%;
      max-width: 120px;
    }
  }
}

.information-profile {
  display: flex;
  flex-direction: column;
  flex: 1 0 70%;
  background-color: $second-color;
  padding: 10px;
  border-radius: 10px;

  > *:not(:last-child) {
    margin: 0 0 5px 0;
  }

  &__name {
    font-family: Roboto-bold, serif;
    font-size: 24px;
  }
}