@import '../../../../base/variables';

.list-post {
   
    &__body{
        display: flex;
        align-items: center;
        padding-top: 20px;
    }
    &__icon {
        width: 20px;
        height: 20px;
        background: rgb(255, 165, 0);
        border-radius: 50%;
    }
    &__message{
        margin-left: 15px;
        font-size: 14px;
        color: rgb(0, 0, 0);
    }
}