@import '../../../../base/variables';

.board-post {

  &__body {
    display: flex;
    align-items: center;
    max-height: 500px;
    margin: 5px 0;
    background-color: rgb(219, 218, 218);
    border-radius: 5px;
    overflow-y: auto;
  }

  &__message {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 10px 15px;
    font-size: 14px;
  }
}