.wrapper{
  margin: 0 auto;
  max-width: 1455px;
  padding: 0 15px;
  display: grid;

  grid-template-areas:
  "header header"
  "nav main";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.main {
    grid-area: main;
    background-color: rgb(225, 223, 223);
}