@import "base/variables";

.wrapper{
  display: grid;
  max-width: 1440px;
  margin: 0 auto;
  grid-template-areas:
  "header header"
  "nav main";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.main {
    padding: 10px 0;
    grid-area: main;
    background-color: $first-color;
}

._container{
  max-width: 1440px;
  margin: 0 auto;
}