@import '../../base/variables';

.dialogs {

  &__content{
    display: flex;
  }

  &__items{
      display: flex;
      flex-direction: column;
      flex: 1 0 20%;
      margin: 0 10px;
      border-radius: 10px;
  }

  &__messages{
    display: flex;
    flex-direction: column;
    flex: 1 0 80%;
  }
}

.message-item{
  border-radius: 10px 10px 0 0;
  background-color: $second-color;

  &__content{
    display: flex;
    flex-direction: column;
    background-color: $second-color;
    padding: 0 0 5px 15px;
    overflow-y: scroll ;
    max-height: 800px;
    height: 780px;
  }
}

.item-dialog{

  &__content{
    overflow-y: scroll;
    max-height: 850px;
    height: 840px;
  }
}

.title-dialog{
  width: 100%;
  text-align: center;
  font-weight: 700;
  background-color: $second-color;
  padding: 15px;
  color: rgb(58, 54, 54);
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid $first-color;
}