@import "../../base/variables";

.dialogs {

  &__content {
    display: flex;
    height: calc(100vh - 85px);
    max-width: 940px;
    padding: 0 10px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    flex: 1 0 40%;
    margin: 0 10px 0 0;
    border-radius: 10px;
  }

  &__messages {
    display: flex;
    flex-direction: column;
    flex: 1 0 60%;
  }
}

.message-item {
  border-radius: 10px 10px 0 0;
  background-color: $second-color;

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 10px 15px 5px 15px;
    border-bottom: 2px solid $first-color;
    overflow-y: auto;
  }
}

.item-dialog {

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
  }
}

.title-dialog {
  font-family: Roboto-bold, serif;
  width: 100%;
  text-align: center;
  background-color: $second-color;
  padding: 15px;
  color: rgb(58, 54, 54);
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid $first-color;
}