@import '../../base/variables';

.dialogs {

  &__content{
    display: flex;
    position: relative;

    &::after{
      content: '';
      display: block;
      position: relative;
      right: 70%;
      border-right: 2px solid rgb(102, 148, 180);
      height: 100vh;
    }
  }

  &__items{
      display: flex;
      flex-direction: column;
      padding: 15px 0 0 0;
      flex: 1 0 30%;
  }

  &__messages{
    display: flex;
    flex-direction: column;
    flex: 1 0 70%;
    padding: 15px 0 0 0;
  }
}
