@import "../../../base/variables";

.message-item{

    &__content{
      padding: 15px 0 0 15px;
    }

    &__body{
      padding: 5px;
      max-width: 200px;
      width: 100%;
      background-color: rgb(135, 148, 148);
    }
}

.title-dialog{
  width: 100%;
  padding: 0 0 5px 0;
  text-align: center;
  font-weight: 700;
  border-bottom: 2px solid rgb(102, 148, 180);
}