@font-face {
  font: {
    family: 'Roboto-bold';
    weight: 700;

  }
  src: url('./../fonts/Roboto-Bold.ttf') format('opentype');

}

@font-face {
  font: {
    family: 'Roboto-regular';
    weight: 400;
  }

  src: url('./../fonts/Roboto-Regular.ttf') format('opentype');
}